.comparison {
  max-width: 1330px;
  margin: 0 auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;

  &-title {
    text-align: center;
    padding: 10px 0;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #d9760f;

    &_head {
      grid-row-start: 1;
      grid-column-start: 2;
      grid-column-end: 2;
    }
  }
}
