.comparison-wrapper {
  display: grid;
  grid-template-columns: 280px 1fr;

  &_head {
    grid-template-rows: 38px 1fr;
  }

  &__title {

    &_head {
      grid-row-start: 1;
      grid-column-start: 2;
      grid-column-end: 2;
    }
  }

  &__data {
    display: flex;

    &_head {
      grid-row-start: 2;
      grid-column-start: 2;
      grid-column-end: 2;
    }
  }
}

@media screen and (max-width: 1100px) {
  .comparison-wrapper {
    grid-template-columns: 200px 1fr;
  }

}

@media screen and (max-width: 1005px) {
  .comparison-wrapper {
    display: block;
  }
}